.logo {
  margin-top: -1rem;
  height: 4rem;
  float: left;
}

.navbar-default {
  background-color: white !important;
  background-image: none;
  padding: 5px;
}

.search-input {
  border: none;
  box-shadow: none;
  background-color: #ECF0F1;
  margin-right: -5px;
  width: 18vw !important;
  height: 3.9rem;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.search-btn {
  border: solid 1px #697683;
  box-shadow: none;
  background-color: #697683;
  color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 18px;
  background-image: none;
  transition: transform 0.3s;
  &:hover {
    background-color: #697683;
    transform: scale(1.05);
    color: #ffffff;
  }
}

.start-new-topic {
  margin: -7px 8px;
  background-image: none;
  height: 38px;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1abc9c;
  text-shadow: none;
}