$active-color: #80d3ab;
$inactive-color: #f27777;
$border-color: #f1f1f1;
.post {
  .panel-body {
    padding: 0;
  }
  .user-info {
    padding: 20px 0 15px 15px;
  }
  .badge {
    height: 15px;
    width: 15px;
    top: 10px;
    left: 35px;
    border-radius: 10px;
    padding: 0;
    position: relative;
    border: 2px solid white;
    &:empty {
      display: block !important;
    }
    &.active {
      background-color: $active-color;
    }
    &.inactive {
      background-color: $inactive-color;
    }
  }
  .post-text {
    padding: 20px 15px 30px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 25px;
    h2 {
      color: #363838;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
      &:hover {
        color: #989c9e;
      }
    }
    p {
      margin: 0 0 10px;
    }
  }
  .post-info {
    padding: 0;
    border-left: solid 1px $border-color;
    .comments {
      border-bottom: solid 1px #f1f1f1;
      padding: 18px 0 25px 0;
      text-align: center;
      .commentbg {
        background-color: #bdc3c7;
        border-radius: 2px;
        display: inline-block;
        padding: 12px 17px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif;
        position: relative;
        .mark {
          width: 11px;
          height: 11px;
          background-color: #bdc3c7;
          position: absolute;
          bottom: 0;
          left: 43%;
          margin-bottom: -5px;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
    .views {
      border-bottom: solid 1px #f1f1f1;
      color: #9da6aa;
      font-size: 12px;
      font-family: 'Open Sans Regular', sans-serif;
      text-align: center;
      line-height: 29px;
    }
    .time {
      color: #9da6aa;
      font-size: 12px;
      font-family: 'Open Sans Regular', sans-serif;
      text-align: center;
      line-height: 29px;
    }
  }
}

@media (max-width: 767px) {
  .post-info .comments .commentbg {
    font-size: 12px !important;
    padding: 7px !important;
    min-width: 35px;
  }
}